@import 'tailwindcss';

@font-face {
  font-family: Nuckle;
  src: url(assets/HW-Nuckle-Medium.otf);
  font-weight: medium;
}

@font-face {
  font-family: Nuckle;
  src: url(assets/HW-Nuckle-Bold.otf);
  font-weight: bold;
}

* {
    font-family: Nuckle;
}

a {
   @apply underline; 
   @apply cursor-pointer;
}

p {
    @apply pb-2;
}

h1 {
    @apply text-2xl font-bold my-2; 
}

h2 {
    @apply text-xl font-bold my-2;
}

h3 {
    @apply text-lg font-bold my-2; 
}
